body {
  padding-bottom:3em;
}
.footer {
  background-color:#333;
  display:inline-block;
  position: fixed;
  padding: 10px;
  bottom: 0;
  left: 0;
  right: 0;
}

.foo_li{
 float: left;
 list-style-type: none;

}
.li_li{
  color:#FFFFFF;
  padding: 6px;
   text-align: center;
 display:inline-block;
}

.foo_ri{
color:#FFFFFF;
padding: 6px;
text-align: center;
float: right;
display:inline-block;
}
a:hover{
  background-color: black;
}
a:visited{color:white;}
